@page "/releaseReports"
@using Whosales.Domain;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using BlazorApp.Shared

<h3>Reports data</h3>
@if (releaseReports == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <NavLink class="nav-link" href="releaseReports/create/" Match="NavLinkMatch.All">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </NavLink>
    <div class="row">
        <div class="col">
            <div class="row">
                @for (int i = currentPage - 5; i < currentPage - 1; i++)
                {
                    @if (i <= 0)
                        continue;
                    var buttonNumber = i;
                    <button class="col btn btn-secondary" @onclick="@(e => currentPage = buttonNumber)">@buttonNumber</button>
                }
                @for (int i = currentPage; i < currentPage + 5; i++)
                {
                    @if (i >= releaseReports.Count() / pageSize + 1)
                        break;
                    var buttonNumber = i;
                    <button class="col btn btn-secondary" @onclick="@(e => currentPage = buttonNumber)">@buttonNumber</button>
                }
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ReleaseDate</th>
                <th>Employer</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Storage</th>
                <th>Volume</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in releaseReports
           .Skip(pageSize * (currentPage - 1))
           .Take(pageSize))
            {
                <tr>
                    <td>@report.ReleaseDate.ToShortDateString()</td>
                    <td>@report.Employer.Name</td>
                    <td>@report.Customer.Name</td>
                    <td>@report.Product.Name</td>
                    <td>@report.Storage.Name</td>
                    <td>@report.Volume</td>
                    <td>@report.Cost</td>
                    <td>
                        <NavLink class="nav-link" href=@{$"releaseReports/edit/{report.ReleaseReportId}"}  Match="NavLinkMatch.All">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Edit
                        </NavLink>
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(() => Delete(report.ReleaseReportId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private ReleaseReport[]? releaseReports;

    private string nameTemp = "";
    private int pageSize = 20;
    private int currentPage = 1;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            releaseReports = await Http.GetFromJsonAsync<ReleaseReport[]>("api/releaseReports/");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
    private async Task Delete(int id)
    {
        await Http.DeleteAsync($"api/releaseReports/{id}");
        string message = "Report was successfully deleted";
        NavigationManager.NavigateTo($"/releaseReports/successpage/{message}");
    }
}
